h2 {
  font-family: var(--ff-heading);
  font-style: normal;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-600);
  line-height: 1.8125rem;
  color: var(--text-primary);
}
h3 {
  font-family: var(--ff-heading);
  font-style: normal;
  font-weight: var(--fw-medium);
  font-size: var(--fs-600);
  line-height: 1.8125rem;
  color: var(--text-primary);
}
h4 {
  font-family: var(--ff-heading);
  font-style: normal;
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  line-height: 1.375rem;
  color: var(--text-secondary);
}
h5 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-medium);
  font-size: var(--fs-500);
  color: var(--text-primary);
  line-height: 1.375rem;
}

p {
  font-family: var(--ff-body);
  font-style: normal;
  font-weight: var(--fw-medium);
  font-size: var(--fs-500);
  line-height: 1.375rem;
  color: var(--text-secondary);
}
/* 01: Intro */
.author-img {
  margin-right: 1.875rem;
  max-width: 200px;
  height: 200px;
}
.author-img img {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.author-about {
  margin-top: 2.3125rem;
  max-width: 41.125rem;
}
.author-name {
  margin-top: 10px;
}
.author-designation {
  margin-bottom: 1.875rem;
}
.author-email,
.author-phone {
  color: var(--text-primary);
}
.card {
  margin-bottom: 20px;
}

/* 02 Skill */

.skill-graph {
  margin: 1.25rem 0;
}
.skill-label {
  font-family: var(--ff-body);
  font-style: normal;
  font-weight: var(--fw-medium);
  font-size: var(--fs-400);
  line-height: 1.25rem;
  color: (--text-secondary);
}
.skill-total-score {
  background-color: #c4c4c4;
  min-width: 11.75rem;
  height: 9px;
  border-radius: var(--border-radius);
}
.skill-current-score {
  height: inherit;
  border-radius: inherit;
  background-color: var(--clr-accent);
}
/* 03: Hobby */
.hobby {
  margin: 1.875rem 0;
}
.hobby-name {
  color: var(--text-tertiary);
  margin: 10px 0;
}
.hobby-img {
  border-radius: var(--border-radius);
  max-height: 9.1875rem;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
/* 04: Blog */
.blog.card {
  min-height: 41rem;
  position: relative;
  overflow: hidden;
}
.blog > p:first-child {
  color: #e0e0e0;
}
.blog-img {
  margin: 1rem 0;
}
.blog-img img {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center left;
}
.blog-title {
  color: var(--text-tertiary);
  max-width: 11.125rem;
  margin-top: 1.3125rem;
}
.blog-text {
  margin-bottom: 3.75rem;
  max-width: 30.75rem;
}
.blog-link {
  text-decoration: none;
  color: var(--clr-accent);
}
/* 05 Experiences */
.experience {
  margin: 44px 0 36px;
}
.company-logo {
  max-width: 335px;
  width: 100%;
}
.role {
  color: #000000;
  margin: 12px 0 33px;
}
/* 06 Projects */
.tags {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.project-img {
  width: 18.25rem;
  height: 13.5625rem;
  margin-bottom: 10px;
}
.project-img img {
  width: 100%;
  height: 100%;
}
.projects-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-project {
  width: 100%;
}
.project-btns {
  margin-top: 3.375rem;
  display: flex;
  align-items: center;
  gap: 0.6875rem;
}
.my-pagination ::ng-deep .ngx-pagination {
  display: flex;
}
.my-pagination ::ng-deep .ngx-pagination > * {
  /* flex:1; */
}

.my-pagination ::ng-deep .ngx-pagination .pagination-previous::before,
.my-pagination ::ng-deep .ngx-pagination .pagination-previous a::before,
.my-pagination ::ng-deep .ngx-pagination .pagination-next::after,
.my-pagination ::ng-deep .ngx-pagination .pagination-next a::after {
  content: "";
  margin: 0;
}
.my-pagination ::ng-deep .ngx-pagination .pagination-previous span,
.my-pagination ::ng-deep .ngx-pagination .pagination-next span {
  font-size: 20px;
  color: var(--text-primary);
}
.my-pagination ::ng-deep .ngx-pagination .small-screen{
  display: none;
}
.my-pagination ::ng-deep .ngx-pagination li {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px !important;
  max-width: 36px !important;
  height: 36px;
  font-size: 20px;
  /* padding: 11px 14px; */
  border: 1px solid var(--text-primary);
  background-color: transparent;
  margin-left: 12px;
}
.my-pagination ::ng-deep .ngx-pagination .current {
  background: var(--clr-accent);
}

@media (min-width: 768px) {
  .single-project {
    max-width: 328px;
    width: 100%;
  }
  .skill-total-score {
    min-width: 14.75rem;
  }
  .intro {
    display: flex;
    gap: 1.875rem;
    align-items: center;
  }
  .intro > :last-child {
    align-self: start;
  }
  .author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .author-img {
    min-width: 18.75rem;
    height: 18.75rem;
  }
  section {
    display: flex;
    justify-content: space-between;
    gap: 2.625rem;
  }
  section > * {
    flex: 1;
  }
  article.first > * {
    flex: 1;
  }
  .card {
    margin-bottom: 2.625rem;
  }
  .blog-title {
    margin-bottom: 16.25rem;
  }
  .blog-img {
    right: 0;
    position: absolute;
    width: 50%;
    top: 0;
  }
  .first,
  .second {
    display: flex;
    flex-direction: column;
  }
  .first > div:last-child,
  .second > div:last-child {
    flex-grow: 1;
  }
}
